$faq-color-bg-empty: none;
$faq-color-border-empty: #e9edf2;
$faq-color-text-empty: #e9edf2;

$faq-color-border-filled: #dfe6ec;
$faq-color-bg-filled: #dfe6ec;
$faq-color-bg-hover: #d2ddeb;
$faq-color-text-filled: #003366;

$faq-letter-size: 2rem;
$faq-font-size: 0.875rem;

.rrze-faq {
    ul.letters {
        margin: 1.25rem 0 0.75rem !important;
        padding: 0 !important;
        list-style: none;
    }

    .letters {
        li {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: $faq-letter-size;
            height: $faq-letter-size;
            margin: 2px;
            border: 1px solid $faq-color-border-empty;
            color: $faq-color-text-empty;
            background: $faq-color-bg-empty;
            border-radius: 4px;
            background-clip: padding-box;
            font-size: $faq-font-size;
            line-height: 1;
            transition: background-color 0.2s ease;

            &.filled {
                border-color: $faq-color-border-filled;
                background-color: $faq-color-bg-filled;
                color: $faq-color-text-filled;

                &:hover {
                    background-color: $faq-color-bg-hover;
                }
            }
        }

        a {
            text-decoration: none;
            color: inherit;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

details.faq-term summary,
details.faq-item summary {
    cursor: pointer;
    font-weight: bold;
    margin-top: 0.5em;
    outline: none;
}

.faq-term-content {
    margin-left: 1em;
}

.faq-content {
    margin-top: 0.5em;
}

.faq-masonry {
    column-count: 1;
    column-gap: 1.5rem;

    .faq-item {
        break-inside: avoid;
        margin-bottom: 1.5rem;
    }

    @media (min-width: 600px) {
        column-count: 2;
    }

    @media (min-width: 900px) {
        column-count: 3;
    }
}
