//
// CSS Settings for FAU Glossary/FAQ
//

/*
 * Accordion
 */

h3.accordion-heading {
    width: 100%;
    padding: 0 !important;
    margin: 0;
    border: none;
    text-align: left;
}
button.accordion-toggle {
    width: 100%;
    border: none;
    text-align: left;
}
button.expand-all {
    margin: 5px 0;
    float: right;
}

.fau-glossar {
    margin-top: 50px;
    .letters {
        margin-bottom: 30px;
	text-align: center;
	
	li {
	    border: 1px solid $colorStandardHellgrau;
	    color: $colorStandardHellgrau;
	    vertical-align: middle;
	    width: 26px;
	    height: 26px;
	    text-align: center;
	    margin: 2px;
	    border-radius:4px;
            list-style-type: none;
            display:inline;
            padding:10px;
            a {
                text-decoration: none;
                outline: none;
            }
	    
	    
	    &.filled {
		border-color: $colorContentBorders;
		background: $colorContentBorders;
		color: $colorPrimary;
	    }
	    &.filled:hover {
		background-color:$colorPrimary;
	    }
            &.filled:hover a {
		background-color:$colorPrimary;
                color: #fff;
	    }
	}
	
    }
    
}