.rrze-faq ul.letters {
    margin: 1.25rem 0 0.75rem;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.rrze-faq .letters li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin: 2px;
    border: 1px solid #e9edf2;
    color: #e9edf2;
    background: none;
    border-radius: 4px;
    background-clip: padding-box;
    font-size: 0.875rem;
    line-height: 1;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.rrze-faq .letters li.filled {
    border-color: #dfe6ec;
    background-color: #dfe6ec;
    color: #003366;
}

.rrze-faq .letters li.filled:hover {
    background-color: #d2ddeb;
}

.rrze-faq .letters a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

details.faq-term summary,
details.faq-item summary {
    cursor: pointer;
    font-weight: bold;
    margin-top: 0.5em;
    outline: none;
}

.faq-term-content {
    margin-left: 1em;
}

.faq-content {
    margin-top: 0.5em;
}

/* Responsive "Fake Masonry" */
.faq-masonry {
    column-count: 1;
    column-gap: 1.5rem;
}

@media (min-width: 600px) {
    .faq-masonry {
        column-count: 2;
    }
}

@media (min-width: 900px) {
    .faq-masonry {
        column-count: 3;
    }
}

.faq-masonry .faq-item {
    break-inside: avoid;
    margin-bottom: 1.5rem;
}
