.rrze-faq .letters li{
    display: inline-block;
    background: none;
    border: 1px solid #e9edf2;
    color: #e9edf2;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    text-align: center;
    margin: 2px;
    border-radius: 4px;
    background-clip: padding-box

}

.rrze-faq .letters a{
    text-decoration: none;
}

.rrze-faq .letters li.filled{
    border-color: #dfe6ec;
    background: #dfe6ec;
    color: #036
}

.rrze-faq .letters li.filled:hover{
    background-color: #d2ddeb
}

.rrze-faq ul.letters{
    margin: 20px 0 10px !important;
    padding: 0 !important;
}
